*{
    margin : 0;
    padding: 0;
    line-height: 1.5em;
    overflow-x: hidden;
}

p{
    font-size: 18px;
}

section{
    padding: 30px 0;
}

a:hover{
    cursor: pointer;
}

.image{
    min-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -o-background-attachment: fixed;
    background-attachment: fixed;
    background-image: url('../images/blur-book.jpg');
    
    height : 100vh;
    position: relative;
}

.headertext{
    padding: 10px;
    font-size: 1.8em;
    font-family: sans-serif;
    font-weight: 400;
    position: absolute;
    background-color: rgba(70, 34, 34, 0.5) ;
    border-radius: 20px;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.header_tag{
    background-color: black;
    color: white;
    text-align: center;
}

.block{
    padding: 30px 0;
    position: relative;
    border-radius: 10px;
}

footer ul{
    list-style-type: none;

}

 li{
    text-decoration: none;
}

.container{
    background-color: white;
    width: 70%;
    margin: 20px auto;
    text-align: center;
}
.innerblock{
    position: relative;
    margin: 20px 0;
}

span{
    font-family: monospace;
}

.block  {
    background-image: url('../images/books-bookshelf-education.jpg');
    -o-background-attachment: fixed;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.block h4{
    border-radius: 5px;
    box-shadow: 0px 2px grey;
    text-align: center;
    padding: 9px;
    cursor: pointer;
}

.block .innerblock  {
    background-color: rgba(255,255,255,0.5);
}

.toggle{
    padding: 35px;
    display: none;
}

.magic{
    opacity: 1;
    display: block;
    animation-name: togglemode;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
}

@keyframes togglemode {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.animation{
    animation-name: motion;
    animation-timing-function: ease-out;
    animation-duration: 2s;
}

@keyframes motion {
    100% {
        left:0;
    }
}

.final{
    margin-top: 40px;
}


.footer{
    text-align: center;
    font-family: monospace;
    font-size: 12px;
    background-color: rgb(34, 32, 32);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: white;
}

.footer-items{
    flex-grow: 1;
    margin: 30px 0;
    box-sizing: border-box;
    width: 25%;
}

footer li{
    margin: 4px 0;
    font-size: 16px;
}

.footer div h5{
    border-bottom: 20px;
    font-size: 1.7rem;
}

a{
    text-decoration: none;
    color: white;
}

@media( max-width : 800px){
    h1{
        font-size: 35px;
    }
    .image{
        height: 450px;
    }
    .container{
        width: 85%;
    }
    .footer-items{
        width: 50%;
    }

}
@media( max-width : 560px){

    h1{
        font-size: 25px;
    }
    .container{
        width: 95%;
    }
    .image{
        height: 400px;
        background-attachment: scroll;
    }
    .footer-items{
        width: 100%;
    }
}